@font-face {
  font-family: poppins-semibold;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../fonts/poppins/Poppins-Medium.ttf);
}
.block {
  display: block;
  width: 100%;
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  color: #292929;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  display: inline-block;
}

h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: poppins-semibold;
  color: #E2514B;
}

h2 {
  margin-top: 80px;
  font-size: 18px;
  font-family: poppins-semibold;
  color: #E2514B;
}

p {
  font-family: poppins-medium;
  font-size: 16px;
  color: #292929;
}
p span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #E2514B;
}

section {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#top_red {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#top_red img {
  width: 100%;
}

.menu__full--page {
  position: fixed;
  top: 0;
  background-color: #E2514B;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu__full--page .nav--item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 28px;
  color: white;
  font-family: poppins-semibold;
  cursor: pointer;
}

.action__touch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #E2514B;
  font-family: poppins-semibold;
  color: #FFFFFF;
  background-color: #E2514B;
}
.action__touch a {
  color: #FFFFFF;
}

.wrapper {
  height: auto;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section__home {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section__about {
  width: 100%;
  background-color: #F3F3F3;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section__question {
  width: 100%;
  background-color: white;
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__question #container__question {
  margin: 0 auto;
}
.section__question .question {
  text-transform: uppercase;
  text-align: center;
  font-family: poppins-semibold;
  color: #E2514B;
  font-size: 34px;
}
.section__question .question span {
  font-family: poppins-medium;
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.section__projects {
  width: 100%;
  background-color: #F3F3F3;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
}
#home #arrow_down {
  width: 50px;
  height: 50px;
}

#about {
  margin: 0 auto;
  height: auto;
}

.nav__container {
  background-color: #E2514B;
  height: 15vh;
  width: 100%;
}

.nav {
  position: absolute;
  top: 0;
  width: 75%;
  margin: 0 calc((100% - 75%) /2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 15vh;
}

.download__cv {
  padding: 10px;
  padding-left: 0px;
}
.download__cv a {
  color: #E2514B;
  font-family: poppins-medium;
}

.menu__bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 25px;
  width: 35px;
}
.menu__bars .bar {
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.nav_left .nav__logo img {
  height: 10vh;
  widows: 5vh;
}

.nav__right {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.nav__right .nav--item {
  font-size: 20px;
  font-family: poppins-medium;
  color: white;
  cursor: pointer;
  margin-left: 30px;
}
.nav__right .nav--item .dark__mode {
  position: relative;
  width: 35px;
  padding: 0 2.5px;
  border-radius: 10px;
  height: 20px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.nav__right .nav--item .dark__mode .mode__switch {
  height: 15px;
  width: 15px;
  background-color: #E2514B;
  border-radius: 50%;
}
.nav__right .nav--item .dark__mode--on {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.intro__text {
  font-family: poppins-semibold;
  font-size: 66px;
  line-height: 66px;
}
.intro__text span {
  color: #E2514B;
  text-transform: uppercase;
}

.intro__viewprojects {
  margin-top: 45px;
  height: 50px;
  font-family: poppins-semibold;
  padding: 10px 30px;
  color: white;
  text-transform: capitalize;
  font-size: 25px;
  background-color: #E2514B;
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 50px;
}

#btnViewProjects {
  cursor: pointer;
}

.intro__svg {
  align-self: flex-end;
  height: 413px;
}

#intro_svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}
#intro_svg img {
  width: 100%;
  height: auto;
  max-height: 100%;
  bottom: 0;
}

.container__home #btnViewProjects {
  cursor: pointer;
}

.about__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about__info .user__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about__info .user__image .profile__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #E2514B;
}
.about__info p {
  font-size: 18px;
}
.about__info p span {
  margin: 20px 0;
}

.knowledge__container {
  margin-bottom: 50px;
  width: 100%;
}

.knowlegde__skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: flex-start;
}
.knowlegde__skills .skill__category {
  font-family: poppins-medium;
  color: #E2514B;
  font-size: 22px;
  margin-bottom: 20px;
}
.knowlegde__skills .frontend__skills--list {
  width: 200px;
}
.knowlegde__skills .backend__skills--list {
  width: 200px;
}
.knowlegde__skills .design__skills--list {
  width: 200px;
}
.knowlegde__skills .tools__skills--list {
  width: 200px;
}
.knowlegde__skills ul {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: poppins-medium;
  font-size: 18px;
}
.knowlegde__skills .upcoming__skill {
  opacity: 0.4;
}

.container__skills {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: pink;
  margin-top: 70px;
}
.container__skills .skill {
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.container__skills .skill .score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family: poppins-medium;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  height: 30px;
}
.container__skills .skill .html {
  background-color: #F1662A;
  width: 90%;
  padding-left: 7px;
}
.container__skills .skill .css {
  background-color: #33A9DC;
  width: 80%;
  padding-left: 7px;
}
.container__skills .skill .javascript {
  background-color: #D6BA32;
  width: 80%;
  padding-left: 7px;
}
.container__skills .skill .react_native {
  background-color: #D6BA32;
  width: 75%;
  padding-left: 7px;
}
.container__skills .skill .php {
  background-color: #A476CB;
  width: 75%;
  padding-left: 7px;
}
.container__skills .skill .laravel {
  background-color: #A476CB;
  width: 65%;
  padding-left: 7px;
}
.container__skills .skill .sql {
  background-color: #006790;
  width: 70%;
  padding-left: 7px;
}
.container__skills .skill .xd {
  background-color: #F72ABC;
  width: 70%;
  padding-left: 7px;
}
.container__skills .skill .ai {
  background-color: #DE982E;
  width: 75%;
  padding-left: 7px;
}
.container__skills .skill .ps {
  background-color: #248EAC;
  width: 70%;
  padding-left: 7px;
}
.container__skills .skill .pizza {
  background-color: #292929;
  width: 100%;
  padding-left: 7px;
}

.coming__skills .list__skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.coming__skills .skill {
  height: 165px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 165px;
}
.coming__skills .skill .score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family: poppins-medium;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  height: 30px;
}
.coming__skills .skill .react_native {
  background-color: #00D1F7;
  width: 20%;
  padding-left: 7px;
}
.coming__skills .skill .skiing {
  background-color: #292929;
  width: 20%;
  padding-left: 7px;
}
.coming__skills .skill .laravel {
  background-color: #EB4D43;
  width: 20%;
  padding-left: 7px;
}
.coming__skills .skill .photography {
  background-color: #292929;
  width: 30%;
  padding-left: 7px;
}
.coming__skills .skill .blank {
  background-color: white;
  width: 20%;
  padding-left: 7px;
}

.goals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.goals .goal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 230px;
}
.goals .goal .goal__title {
  font-family: poppins-semibold;
  font-size: 26px;
  margin-bottom: 25px;
  color: #292929;
}
.goals .goal .goal__circle {
  background-color: #E2514B;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.goals .goal .goal__circle img {
  width: 60%;
  height: 60%;
}
.goals .goal .goal__description {
  color: #292929;
  font-family: poppins-medium;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.primary__button {
  background-color: #E2514B;
  color: #FFFFFF;
  font-family: poppins-semibold;
  display: inline-block;
  padding: 5px 7px;
  border: 1.5px solid #E2514B;
  margin-top: 10px;
  font-size: 14px;
}

.secondary__button {
  border: 1px solid #E2514B;
  color: #E2514B;
  font-family: poppins-semibold;
  display: inline-block;
  padding: 5px 7px;
  border: 1.5px solid #E2514B;
  margin-top: 10px;
  color: #E2514B;
  font-size: 14px;
}

.section__projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#container__projects {
  margin: 0 auto;
}
#container__projects .projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#container__projects .projects .github {
  width: 100%;
}
#container__projects .projects .github__link {
  display: inline-block;
  padding: 5px 7px;
  border: 1.5px solid #E2514B;
  margin-top: 10px;
  color: #E2514B;
  font-size: 14px;
}
#container__projects .projects .project {
  padding: 40px;
  font-family: poppins-medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#container__projects .projects .project .project_image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#container__projects .projects .project .project_image-container img {
  margin-right: 50px;
  padding: 20px;
  width: 100%;
}
#container__projects .projects .project .project_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#container__projects .projects .project .project_info .project_info-title {
  font-size: 35px;
  font-family: poppins-semibold;
  color: #E2514B;
}
#container__projects .projects .project .project_info .project_info-description {
  font-size: 16px;
}
#container__projects .projects .project .project_info .project_info-code {
  margin-top: 80px;
  font-size: 20px;
  font-family: poppins-semibold;
  color: #E2514B;
}
#container__projects .projects .project:first-child {
  margin-top: 20px;
}
#container__projects .projects .project:last-child {
  margin-bottom: 100px;
}

.section__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.section__contacts #container__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
}
.section__contacts #container__contacts .message {
  font-family: poppins-medium;
  font-size: 20px;
  width: 100%;
}
.section__contacts #container__contacts .contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}
.section__contacts #container__contacts .contacts .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.section__contacts #container__contacts .contacts .contact .small__circle {
  border-radius: 50%;
  background-color: #E2514B;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__contacts #container__contacts .contacts .contact .contact__text {
  margin-left: 25px;
  font-size: 18px;
  font-family: poppins-medium;
  color: #292929;
}
.section__contacts #container__contacts .contacts .contact .contact__text a {
  text-decoration: none;
  color: #292929;
}
.section__contacts #container__contacts .contacts .contact .contact__links {
  width: 100%;
}

footer {
  height: 100px;
  background-color: #292929;
  color: #E2514B;
  font-size: 18px;
  font-family: poppins-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.remove__element {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .col-mobile-0 {
    float: left;
    display: block;
    width: 0%;
    box-sizing: border-box;
  }

  .col-mobile-1 {
    float: left;
    display: block;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-mobile-2 {
    float: left;
    display: block;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-mobile-3 {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  .col-mobile-4 {
    float: left;
    display: block;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-mobile-5 {
    float: left;
    display: block;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-mobile-6 {
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
  }

  .col-mobile-7 {
    float: left;
    display: block;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-mobile-8 {
    float: left;
    display: block;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-mobile-9 {
    float: left;
    display: block;
    width: 75%;
    box-sizing: border-box;
  }

  .col-mobile-10 {
    float: left;
    display: block;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-mobile-11 {
    float: left;
    display: block;
    width: 91.6666666667%;
    box-sizing: border-box;
  }

  .col-mobile-12 {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .nav {
    width: 80%;
    height: 15vh;
  }

  .intro__text {
    margin-top: 20px;
    font-size: 40px;
    line-height: 40px;
  }

  .intro__viewprojects {
    height: 35px;
    line-height: 35px;
    margin-top: 30px;
  }

  .profile__image {
    margin-top: 50px;
  }

  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  #container__contacts .contacts .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #container__projects .projects .project {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1.5px dotted #E2514B;
    box-shadow: none;
  }

  .nav_left .nav__logo img {
    height: 7vh;
    widows: 4vh;
  }

  .nav__right {
    width: 80%;
  }
  .nav__right .nav--item {
    margin-left: 10px;
    font-size: 13px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .col-l-mobile-0 {
    float: left;
    display: block;
    width: 0%;
    box-sizing: border-box;
  }

  .col-l-mobile-1 {
    float: left;
    display: block;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-l-mobile-2 {
    float: left;
    display: block;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-l-mobile-3 {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  .col-l-mobile-4 {
    float: left;
    display: block;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-l-mobile-5 {
    float: left;
    display: block;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-l-mobile-6 {
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
  }

  .col-l-mobile-7 {
    float: left;
    display: block;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-l-mobile-8 {
    float: left;
    display: block;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-l-mobile-9 {
    float: left;
    display: block;
    width: 75%;
    box-sizing: border-box;
  }

  .col-l-mobile-10 {
    float: left;
    display: block;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-l-mobile-11 {
    float: left;
    display: block;
    width: 91.6666666667%;
    box-sizing: border-box;
  }

  .col-l-mobile-12 {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .nav {
    width: 80%;
    height: 15vh;
  }

  .intro__text {
    margin-top: 150px;
    font-size: 44px;
    line-height: 44px;
  }

  .intro__viewprojects {
    height: 35px;
    margin-top: 30px;
    line-height: 35px;
  }

  .profile__image {
    margin-top: 50px;
  }

  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #container__projects .projects .project {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  #container__contacts .contacts .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav_left .nav__logo img {
    height: 7vh;
    widows: 4vh;
  }

  .nav__right {
    width: 80%;
  }
  .nav__right .nav--item {
    margin-left: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .col-s-tablet-0 {
    float: left;
    display: block;
    width: 0%;
    box-sizing: border-box;
  }

  .col-s-tablet-1 {
    float: left;
    display: block;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-s-tablet-2 {
    float: left;
    display: block;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-s-tablet-3 {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  .col-s-tablet-4 {
    float: left;
    display: block;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-s-tablet-5 {
    float: left;
    display: block;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-s-tablet-6 {
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
  }

  .col-s-tablet-7 {
    float: left;
    display: block;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-s-tablet-8 {
    float: left;
    display: block;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-s-tablet-9 {
    float: left;
    display: block;
    width: 75%;
    box-sizing: border-box;
  }

  .col-s-tablet-10 {
    float: left;
    display: block;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-s-tablet-11 {
    float: left;
    display: block;
    width: 91.6666666667%;
    box-sizing: border-box;
  }

  .col-s-tablet-12 {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .profile__image {
    margin-top: 50px;
  }

  .intro__text {
    font-size: 54px;
    line-height: 54px;
  }

  #container__projects .projects .project {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #container__contacts .contacts .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav__right {
    width: 80%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .col-tablet-0 {
    float: left;
    display: block;
    width: 0%;
    box-sizing: border-box;
  }

  .col-tablet-1 {
    float: left;
    display: block;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-tablet-2 {
    float: left;
    display: block;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-tablet-3 {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  .col-tablet-4 {
    float: left;
    display: block;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-tablet-5 {
    float: left;
    display: block;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-tablet-6 {
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
  }

  .col-tablet-7 {
    float: left;
    display: block;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-tablet-8 {
    float: left;
    display: block;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-tablet-9 {
    float: left;
    display: block;
    width: 75%;
    box-sizing: border-box;
  }

  .col-tablet-10 {
    float: left;
    display: block;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-tablet-11 {
    float: left;
    display: block;
    width: 91.6666666667%;
    box-sizing: border-box;
  }

  .col-tablet-12 {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #container__projects .projects .project {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav__right {
    width: 35%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .col-desktop-0 {
    float: left;
    display: block;
    width: 0%;
    box-sizing: border-box;
  }

  .col-desktop-1 {
    float: left;
    display: block;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-desktop-2 {
    float: left;
    display: block;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-desktop-3 {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  .col-desktop-4 {
    float: left;
    display: block;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-desktop-5 {
    float: left;
    display: block;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-desktop-6 {
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
  }

  .col-desktop-7 {
    float: left;
    display: block;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-desktop-8 {
    float: left;
    display: block;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-desktop-9 {
    float: left;
    display: block;
    width: 75%;
    box-sizing: border-box;
  }

  .col-desktop-10 {
    float: left;
    display: block;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-desktop-11 {
    float: left;
    display: block;
    width: 91.6666666667%;
    box-sizing: border-box;
  }

  .col-desktop-12 {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #container__projects .projects .project {
    height: auto;
  }

  #container__contacts .contacts .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1441px) and (max-width: 9999999px) {
  .col-wide-desktop-0 {
    float: left;
    display: block;
    width: 0%;
    box-sizing: border-box;
  }

  .col-wide-desktop-1 {
    float: left;
    display: block;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-wide-desktop-2 {
    float: left;
    display: block;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-wide-desktop-3 {
    float: left;
    display: block;
    width: 25%;
    box-sizing: border-box;
  }

  .col-wide-desktop-4 {
    float: left;
    display: block;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-wide-desktop-5 {
    float: left;
    display: block;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-wide-desktop-6 {
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
  }

  .col-wide-desktop-7 {
    float: left;
    display: block;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-wide-desktop-8 {
    float: left;
    display: block;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-wide-desktop-9 {
    float: left;
    display: block;
    width: 75%;
    box-sizing: border-box;
  }

  .col-wide-desktop-10 {
    float: left;
    display: block;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-wide-desktop-11 {
    float: left;
    display: block;
    width: 91.6666666667%;
    box-sizing: border-box;
  }

  .col-wide-desktop-12 {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  #container__contacts .contacts .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=main.css.map */
