@mixin generateCols($suffix) 
    $cols: 12
    $bw: 0
    $tw: 0

    @if $suffix=='mobile' 
        $bw: 0
        $tw: 320
    @else if $suffix=='l-mobile'
        $bw: 321
        $tw: 480
    @else if $suffix=='s-tablet' 
        $bw: 481
        $tw: 768
    @else if $suffix=='tablet' 
        $bw: 769
        $tw: 1024
    @else if $suffix=='desktop' 
        $bw: 1025
        $tw: 1440
    @else 
        $bw: 1441
        $tw: 9999999

    @media screen and (min-width: #{$bw}px) and (max-width: #{$tw}px) 
        
        .col-#{$suffix}-0
            float: left
            display: block
            width: 0%
            box-sizing: border-box

        @for $i from 1 through $cols 
            .col-#{$suffix}-#{$i} 
                float: left
                display: block
                width: 100%/($cols/$i)
                box-sizing: border-box


@include generateCols('mobile')

@include generateCols('l-mobile')

@include generateCols('s-tablet')
    
//between
@include generateCols('tablet')

@include generateCols('desktop')

@include generateCols('wide-desktop')
